<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-sm-6 col-md-12 text-center">

            <h1 class="text-dark congrats animate__animated animate__fadeInUp">Sorry!  <i class="far fa-frown"></i></h1>
            <p class="text-dark success-p animate__animated animate__fadeInDown">Something went wrong!</p>

            <a href="/" class="btn btn-outline-light email-btn">Home</a>
        </div>
    </div>
</div>
