<div class="container-fluid h-100" style="background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(images/img10.jpeg) center/cover fixed no-repeat;">
    <div class="row h-100 align-items-center">
        <div class="col-sm-6 col-md-12 text-center">

            <h1 class="congrats animate__animated animate__fadeInUp">Congratulations!</h1>
            <p class="success-p animate__animated animate__fadeInDown">You have joined our mailing list!</p>

            <a href="/" class="btn btn-outline-light email-btn">Home</a>
        </div>
    </div>
</div>
